html,body {
  max-height: 25%;
  max-width: 800px;
  min-width: 800px;
}

form{
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

tr:hover {
    cursor: pointer;
}

tr .hovertext{
  visibility: hidden;
  width: 50%;
  background-color: black;
  opacity: 0.5;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the hovertext */
  position: absolute;
  font-size: small;
  left: 25px;
  margin-top: 35px;
  z-index: 1;
}

tr:hover .hovertext{
  visibility: visible;
}

.card-title{ font-weight:300; }

.btn{
  font-size: 14px;
  margin-top:5px;
}


.login-form{
  width:330px;
  margin:20px;
}

.sign-up{
  text-align:center;
  padding:20px 0 0;
}

.alert{
  margin-bottom:-30px;
  font-size: 13px;
  margin-top:20px;
}
